/*! destyle.css v3.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

span {
  padding: 0;
  margin: 0;
}

/*--------------------------------------*
 * breakpoint media query
 *--------------------------------------*/
/*  
@include g.mq(xl) {
}
@include g.mq(lg) {
}
@include g.mq(md) {
}
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Roboto", "Noto Sans JP", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  font-size: 100%;
  overflow-x: hidden;
  color: #151515;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

.l-header {
  width: 100%;
  background-color: #fff;
}

.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 90px;
}

.l-header__logo {
  padding-top: 28px;
  padding-bottom: 29px;
  margin-left: 69px;
}

.l-header__globalNav {
  margin: 35px 70px 34px 0;
}

.l-header__hamburger {
  display: none;
}

.l-header__spNav {
  display: none;
}

.l-header__spNav.active {
  display: block;
  width: 200px;
  height: 100vh;
  background-color: #DD1B57;
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 96px;
  padding-left: 40px;
  z-index: 20;
}

.l-header__spNavItem {
  margin-bottom: 28px;
}

#l-header__spNav-mask {
  display: none;
}

#l-header__spNav-mask.open {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 10;
}

.l-footer {
  font-weight: bold;
  color: #fff;
  background-color: #DD1B57;
  padding-top: 60px;
  padding-bottom: 50px;
}

.l-footer__nav {
  margin-bottom: 22px;
}

.l-footer__copyright {
  font-size: 1.2rem;
  letter-spacing: 0.03em;
}

.l-section__ttl--primary {
  font-family: "Noto Sans JP";
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #DD1B57;
}

.l-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.c-hamburger {
  width: 60px;
  height: 60px;
  position: relative;
  cursor: pointer;
  background-color: #DD1B57;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 30;
}

.c-hamburger__item1,
.c-hamburger__item2,
.c-hamburger__item3 {
  width: 26px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.c-hamburger__item1 {
  content: "";
  position: absolute;
  top: 22px;
  left: 17px;
}

.c-hamburger__item2 {
  position: absolute;
  top: 30px;
  left: 17px;
}

.c-hamburger__item3 {
  content: "";
  position: absolute;
  top: 38px;
  left: 17px;
}

.l-header__hamburger.active .c-hamburger__item1 {
  top: 30px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.l-header__hamburger.active .c-hamburger__item2 {
  display: none;
}

.l-header__hamburger.active .c-hamburger__item3 {
  top: 30px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-logo {
  width: 167px;
  height: 33px;
}

.c-newsList__item {
  font-size: 1.5rem;
  line-height: 1.8;
  padding-top: 5px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ededed;
}
.c-newsList__item::before, .c-newsList__item::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.c-newsList__item::before {
  margin-top: calc((1 - 1.8) * 0.5em);
}
.c-newsList__item::after {
  margin-bottom: calc((1 - 1.8) * 0.5em);
}

.c-newsList__item:not(:first-child) {
  padding-top: 17px;
}

.c-newsList__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-newsList__date {
  margin-right: 40px;
}

.c-serviceList__item {
  background-color: #fff;
  padding: 50px 50px 50px;
  border-radius: 8px;
  -webkit-box-shadow: 0 3px 21px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 21px rgba(0, 0, 0, 0.16);
}

.c-serviceList__imgWrapper {
  text-align: center;
}

.c-serviceList__img {
  font-size: 48px;
  color: #DD1B57;
}

.c-serviceList__ttl {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 25px;
}

.c-serviceList__txt {
  font-size: 1.4rem;
  letter-spacing: 0.04em;
  line-height: 1.7;
}
.c-serviceList__txt::before, .c-serviceList__txt::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}
.c-serviceList__txt::before {
  margin-top: calc((1 - 1.7) * 0.5em);
}
.c-serviceList__txt::after {
  margin-bottom: calc((1 - 1.7) * 0.5em);
}

.c-summary {
  width: 100%;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 1;
}

.c-summary th, td {
  padding: 31.5px 30px;
  border-bottom: 1px solid #ddd;
}

.c-summary th {
  width: 20%;
}

.p-company__summary {
  margin-top: 57px;
  margin-bottom: 50px;
}

.p-company__map {
  width: 100%;
  margin-bottom: 20px;
}

.p-company__map iframe {
  height: 400px;
}

.p-company__mapLinkWarraper {
  text-align: right;
}

.p-company__maplink {
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
  color: #349BF4;
  text-decoration: underline;
}

.p-companyNews {
  margin-top: 79px;
  margin-bottom: 100px;
}

.p-footerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

.p-footerNav__item {
  padding-top: 4px;
  margin-right: 40px;
}

.p-hero {
  width: 100%;
  height: 600px;
}

.p-hero__background {
  width: 100%;
  height: 100%;
  background-image: url(../img/pc_bg_mv.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 201px;
}

.p-hero__body {
  color: #fff;
  line-height: 1;
  text-align: center;
}

.p-hero__ttl {
  font-size: 16rem;
  font-weight: bold;
}

.p-hero__subTtl {
  display: block;
  font-family: "Noto Sans JP";
  font-weight: Medium;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  line-height: 1;
  padding-top: 3px;
  padding-left: 29px;
}

.p-hero--sub {
  width: 100%;
  height: 190px;
}

.p-hero__background--sub {
  padding-top: 76px;
}

.p-hero__ttl--sub {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.175;
}

.p-message {
  padding-top: 62px;
  padding-bottom: 100px;
}

.p-message__inner {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
}

.p-message__heading {
  margin-bottom: 38px;
  text-align: center;
}

.p-message__ttl {
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.5;
  color: #DD1B57;
  margin-bottom: 22px;
}

.p-message__subTtl {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  line-height: 1;
}

.p-messageBody {
  max-width: 795px;
  width: 100%;
  padding-top: 4px;
  margin: 0 auto;
}

.p-messageBody__imgWrapper {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 25px;
  margin-bottom: 27px;
}

.p-messageBody__txt {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

.p-messageBody__txt--link {
  color: #349BF4;
  text-decoration: underline;
}

.p-message__imgWrapper {
  width: 100%;
  height: 400px;
}

.p-message__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 75%;
     object-position: 0 75%;
}

.p-globalNav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4px;
}

.p-globalNav__item {
  margin-left: 29px;
}

.p-globalNav__link {
  font-size: 1.6rem;
  font-weight: bold;
  color: #151515;
  letter-spacing: 0.05em;
  line-height: 1;
  margin-right: 0;
}

.p-globalNav__link--permalink {
  color: #DD1B57;
}

.p-spNav__link {
  font-family: "Noto Sans JP Bold";
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 0.05em;
}

.p-spNav__link--permalink {
  color: #EF90A4;
}

.p-news {
  margin-top: 70px;
  padding-bottom: 30px;
}

.p-news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
}

.p-news__heading {
  min-width: 220px;
}

.p-service {
  margin-bottom: 100px;
}

.p-service__heading {
  position: relative;
  margin-top: 50px;
  margin-bottom: 58px;
}

.p-service__heading::after {
  content: "SERVICE";
  color: #F2F2F2;
  font-size: 168px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1;
  position: absolute;
  top: -33px;
  right: -19px;
  z-index: -1;
}

.p-service__list {
  display: grid;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.u-sp-only {
  display: none;
}

@media screen and (max-width: 768px) {
  .l-header__inner {
    height: 60px;
  }
  .l-header__logo {
    padding-top: 20px;
    padding-bottom: 19px;
    margin-left: 20px;
  }
  .l-header__globalNav {
    margin: 0;
    visibility: hidden;
  }
  .l-header__hamburger {
    display: block;
  }
  .l-footer {
    font-size: 1rem;
    padding-top: 41px;
    padding-bottom: 29px;
  }
  .l-footer__nav {
    margin-bottom: 20px;
  }
  .l-footer__copyright {
    font-size: 1rem;
  }
  .l-section__ttl--primary {
    font-size: 3.2rem;
    line-height: 1.25;
  }
  .l-wrapper {
    margin: 0 20px;
    padding: 0;
  }
  .c-logo {
    width: 107px;
    height: 21px;
  }
  .c-newsList__item:not(:first-child) {
    padding-top: 16px;
  }
  .c-newsList__link {
    display: block;
  }
  .c-serviceList__item {
    padding: 40px 30px;
  }
  .c-serviceList__img {
    font-size: 60px;
  }
  .c-summary {
    font-size: 1.4rem;
    letter-spacing: 0;
  }
  .c-summary th, td {
    padding: 20px 0;
  }
  .c-summary th {
    width: 100px;
  }
  .p-company__summary {
    margin-top: 55px;
  }
  .p-company__map {
    margin-bottom: 15px;
  }
  .p-company__map iframe {
    height: 300px;
  }
  .p-company__maplink {
    font-size: 1.2rem;
  }
  .p-companyNews {
    margin-top: 47px;
    margin-bottom: 50px;
  }
  .p-footerNav {
    font-size: 1.2rem;
  }
  .p-footerNav__item {
    margin-right: 25px;
  }
  .p-hero {
    height: 460px;
  }
  .p-hero__background {
    background-image: url(../img/sp_mv.jpg);
  }
  .p-hero__ttl {
    font-size: 8rem;
  }
  .p-hero__subTtl {
    font-size: 2rem;
    padding-left: 0;
  }
  .p-hero--sub {
    height: 160px;
  }
  .p-hero__background--sub {
    background-image: url(../img/sp_mv.jpg);
    padding-top: 62px;
  }
  .p-hero__ttl--sub {
    font-size: 2.8rem;
  }
  .p-message {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .p-message__inner {
    margin-bottom: 50px;
  }
  .p-message__heading {
    margin-bottom: 31px;
  }
  .p-message__ttl {
    font-size: 2.4rem;
    margin-bottom: 20px;
  }
  .p-message__subTtl {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .p-messageBody__imgWrapper {
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .p-messageBody__txt {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .p-message__imgWrapper {
    height: 260px;
  }
  .p-message__img {
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  .p-news {
    margin-top: 32px;
    margin-bottom: 60px;
  }
  .p-news__inner {
    display: block;
  }
  .p-news__heading {
    margin-bottom: 22px;
  }
  .p-service {
    margin-bottom: 60px;
  }
  .p-service__heading {
    margin-top: 0;
    margin-bottom: 22px;
  }
  .p-service__heading::after {
    font-size: 7rem;
    line-height: 1.4;
    top: -2px;
    right: -16px;
  }
  .p-service__list {
    row-gap: 20px;
    grid-template-columns: 1fr;
  }
  .u-sp-only {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */